@using EduKateMVC.ViewModels.TeacherViewModels
@model List<TeacherGetVM>

<table class="table">
    <thead>
        <div class="">
        <a asp-action="Create" asp-controller="Teacher" asp-area="Admin"  class="btn btn-success">Add New Teacher</a>
        </div>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Fullname</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach ( var teacher in Model)
        {
            <tr>
                <th scope="row">@teacher.Id</th>
                <td>@teacher.FullName</td>
                <td>
                    <a asp-area="Admin" asp-controller="Teacher" asp-action="Update" asp-route-id="@teacher.Id" class="btn btn-warning">Update</a>
                    <a asp-area="Admin" asp-controller="Teacher" asp-action="Delete" asp-route-id="@teacher.Id" class=" btn btn-danger deleteBtn">Delete</a>
                </td>
                
            </tr>
            
        }
    </tbody>
</table>
